.card{
    
    
    background-color: white;
    padding: .5rem;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    
}
.card:hover{
    box-shadow: 0px 0px 8px 4px  rgba(131, 131, 131, 0.366);
}
.content{
    
    padding: .5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    width: auto;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}
.img{
    width: 100%;
    height: 13rem;
    cursor: pointer;
    transition: .2s;
}
.img:hover{
    scale: 1.05;
}
.description{
    font-size: small;
}
.addButton{
    padding: .5rem;
    background-color: rgba(35, 37, 36, 0.701);
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.addButton:active{
    background-color: whitesmoke;
    color: black;
}
.title{
    font-weight: 500;
    cursor: pointer;
}
